<html>
<head>
<title>Quadra Vila Mascote</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Tabela_01" width="600" height="1093" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
	  <td>
		<a href="http://www.apartamentovilamascote.com.br/?utm_source=Base%20Gafisa&utm_medium=Email%20mkt&utm_campaign=E-mail%20mkt%20-%20base%20Gafisa"><img src="http://www.apartamentovilamascote.com.br/imagens/Quadra-Email-mkt-28-e-29-11-01_01.jpg" width="600" height="350" alt="Quadra Vila Mascote"></a>
	  </td>
	</tr>
	<tr>
	  <td>
		<a href="http://www.apartamentovilamascote.com.br/?utm_source=Base%20Gafisa&utm_medium=Email%20mkt&utm_campaign=E-mail%20mkt%20-%20base%20Gafisa"><img src="http://www.apartamentovilamascote.com.br/imagens/Quadra-Email-mkt-28-e-29-11-01_02.jpg" width="600" height="402" alt="Quadra Vila Mascote"></a>
	  </td>
	</tr>
	<tr>
	  <td>
	   <a href="http://www.apartamentovilamascote.com.br/?utm_source=Base%20Gafisa&utm_medium=Email%20mkt&utm_campaign=E-mail%20mkt%20-%20base%20Gafisa"><img src="http://www.apartamentovilamascote.com.br/imagens/Quadra-Email-mkt-28-e-29-11-01_03.jpg" width="600" height="341" alt="Quadra Vila Mascote"></a>
	  </td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>