<html>
<head>
<title>Quadra Vila Mascote</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Tabela_01" width="650" height="1560" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
		<a href="http://www.apartamentovilamascote.com.br/?utm_source=Base%20Gafisa&utm_medium=Email%20mkt&utm_campaign=E-mail%20mkt%20-%20base%20Gafisa"><img src="http://www.apartamentovilamascote.com.br/imagens/Quadra_01.png" width="650" height="450" alt="Quadra Vila Mascote"></a>
		</td>
	</tr>
	<tr>
		<td>
		<a href="http://www.apartamentovilamascote.com.br/?utm_source=Base%20Gafisa&utm_medium=Email%20mkt&utm_campaign=E-mail%20mkt%20-%20base%20Gafisa"><img src="http://www.apartamentovilamascote.com.br/imagens/Quadra_02.png" width="650" height="582" alt="Quadra Vila Mascote"></a>
		</td>
	</tr>
	<tr>
		<td>
		<a href="http://www.apartamentovilamascote.com.br/?utm_source=Base%20Gafisa&utm_medium=Email%20mkt&utm_campaign=E-mail%20mkt%20-%20base%20Gafisa"><img src="http://www.apartamentovilamascote.com.br/imagens/Quadra_03.png" width="650" height="528" alt="Quadra Vila Mascote"></a>
		</td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>